div#id_send_to_choices {
    margin-bottom: 0;
}

div#id_pagination ul.pagination {
    margin: 0 0 10px 0;
}

div#id_buttons {
    margin-bottom: 15px;
}

div#id_read_thread p.subject,
button.recipient {
    margin-bottom: 5px;
}

a.reply span.glyphicon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
